S3method(plot,eiwild)
S3method(print,eiwild)
S3method(print,summary.eiwild)
S3method(summary,eiwild)
export(alphaCheck)
export(betaCheck)
export(calcWhichCell)
export(comPlot)
export(convertEiData)
export(getBalance)
export(indAggEi)
export(plotResult)
export(prioriPlot)
export(runMBayes)
export(trimEiwild)
export(tuneVars)
exportClasses(eiwild)
exportClasses(summary.eiwild)
import(coda)
import(gtools)
import(lattice)
useDynLib(eiwild)
